body{
    background-color:lightgrey 
}

header,nav,section,aside,article{
    border: 3px groove black;
    text-align: center;
}
/* footer{
    border: 55px;
    border-radius: 25%;
    border-color: black;
    border-style: solid;
    text-align: center;
} */
.Copy-Right{
    float: left;
    margin-left: 20px;
}



.Websites{
    float: right;
    margin-top: 20px;
    margin-right: 20px; 
}